:root {
  --primary-color: #2e4b78;
  --secondary-color: #4a3555;
  --accent-color-one: aqua;
  --accent-color-two: #fdfdfd;
  --font-family: "Space Mono";
 }

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
}


.content {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 1fr 4fr;
}

/* --------------Header----------------- */

header {
  background-color: var(--primary-color);
  height: 15vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row: 1 /2;
  justify-content: space-around;
  align-items: center;
  font-family: "Space Mono";
  color: var(--accent-color-two);
}

.header-left {
  display: flex;
  justify-content: space-around;
}
h1 {
  font-size: 2.0rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
}

h1, h2, button {
  text-shadow: 0px 0px 5px var(--accent-color-two);
}

.header-right {
  display: flex;
  justify-content: center;
}

.header-right button {
  background-color: rgba(0, 0, 0, 0);
  font-weight: 900;
  border: 3px solid var(--accent-color-two);
  border-radius: 5px;
  width: 50%;
  height: 5vh;
  font-family: "Space Mono";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 100%;
  color: var(--accent-color-two);
}

/* Modal & Form */



.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: -150px;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: var(--primary-color);
  margin: 15% auto;
  padding: 20px;
  border: 3px solid var(--accent-color-one);
  width: 40vw;
  height: auto;
  font-size: 1.2rem;
  }

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

form h3 {
  text-align: center;
  padding: 5px 0px 5px 0px;
}

form [type='text'] {
  width:100%;
  height: 20px;
  font-size: 1.2rem;
}



form [type='number'] {
  width:30%;  
  height: 20px;
  font-size: 1.2rem;
}

.upperForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

form button {
  background-color: rgba(0, 0, 0, 0);
  font-weight: 900;
  border: 3px solid var(--accent-color-two);
  border-radius: 5px;
  width: 100%;
  height: 5vh;
  font-family: "Space Mono";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 0.8rem;
  color: var(--accent-color-two);
  text-align: center;
}

input[type="radio"]:checked {
  color: var(--accent-color-one);
}

.overlay {
  position: fixed; /* Fixed positioning to cover the entire viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  z-index: 0; /* Place it above other content */
  display: none; /* Initially hidden */
}
/* Main */
main {
background-image: url('/images/spaceBackground.jpeg'); 
background-size: cover; 
background-repeat: no-repeat;
background-position: center; 
padding: 30px 50px 50px 50px;
grid-row: 2 / 3;
}

#book-container {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;  
  font-family: "Space Mono";
  color: var(--accent-color-two);
}

 .book button {
  background-color: rgba(0, 0, 0, 0);
  font-weight: 900;
  border: 3px solid var(--accent-color-two);
  border-radius: 5px;
  width: 100%;
  height: 5vh;
  font-family: "Space Mono";
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-size: 1.0rem;
  color: var(--accent-color-two);
  text-align: center;
}

.book {
  background-color: var(--primary-color);
  border: 3px solid var(--accent-color-one);
  border-radius: 20px;
  max-width: 300px;
  max-height: 350px;
  min-width: 300px;
  min-height: 350px;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.book:hover {
  box-shadow: 0px 0px 10px var(--accent-color-one);
}
.book h2 {
  margin: 0;
}

.book p {
  margin: 0;
}

input:focus{
  outline: none;
  border: 2px solid var(--accent-color-two);
}

button:hover{
  background-color: var(--accent-color-two);
  color: var(--primary-color);
  
}

